<div class="gif">
  <img src="{{images.fixed_height.url}}"/>
  <div class="meta">
    <div class="meta-item">
      Rating: {{rating}}
    </div>
    <div class="meta-item">
      <a href="{{url}}" target="_blank">link</a>
    </div>
  </div>
</div>