<div class="search">
  <a class="home-link" href="/">Home</a>
  <form action="/" method="post" id="search-form" class="search-form form" >
    <input class="input __text" type="text" id="search" name="search"/>
    <input class="input __submit" type="submit" value="search"/>
  </form>
</div>