<!-- views/welcome.hbs -->
<div class="container">
  <h1 class="heading">Welcome to 99 Bottles</h1>
  <form class="form" action="/" method="post">
    <label for="player_name">Please enter your name</label>
    <input class="input __text" id="player_name" type="text" name="player_name">
    <input class="input __submit button" type="submit">
  </form>
</div>